@model ITtrainees.MVC.Models.Home.ArticleViewViewModel
@{
    ViewData["Title"] = "ArticleUpload";
}

<script src="~/js/quill.js"></script>
<script src="~/js/quill.min.js"></script>

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
    <div class="container" style="border-bottom:solid; border-color:#6a6a6a;">
        <div class="text-light">
            <img class=" card-img-top card-image" src="data:image/png;base64, @Model.HeaderImage" alt="placeholder" , style="max-height:400px;">

            <h1 class="title">@Model.Title</h1>
            <p class="card-author">Author: @Model.Author</p>
        </div>
    </div>

    <div class="text-light container mt-5">
        <div class="row ml-0">
            <p class="card-author " id="contentContainer">De inhoud van het artikel kan niet geladen worden</p>
            <p class="" hidden id="rawContent">@Model.Content</p>
        </div>
    </div>

    <div class="container text-center" style="border-top:solid; border-color:#ffe000;">
        <div class="row">
            @using (Html.BeginForm("AnswerQuestion", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                if (Model.Questions != null)
                {
                    for (int i = 0; i < Model.Questions.Count; i++)
                    {
                        <div class="text-light">

                            <div class="row">
                                <h3>@Model.Questions[i].QuestionText</h3>
                            </div>
                            <div class="row" style="max-width:400px;">
                                <div class="m-2">@Html.RadioButtonFor(m => m.GivenAnswers[i], Model.Questions[i].Answer1)</div> <p class="m-1">@Model.Questions[i].Answer1</p>
                                <div class="m-2 ml-4">@Html.RadioButtonFor(m => m.GivenAnswers[i], Model.Questions[i].Answer2)</div> <p class="m-1">@Model.Questions[i].Answer2</p>
                                <br />
                                <br />
                            </div>
                        </div>
                    }

                    for (int i = 0; i < Model.Questions.Count; i++)
                    {
                        <div style="display: none;">@Html.EditorFor(m => m.Questions[i])</div>
                    }

                    <div class="container">
                        <div class="mr-auto">
                            <input type="submit" value="Check Answers" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <footer class="footer">
            <div class="border m-2" style="width:230px;">
                <div class="m-1">
                    <h2 class="text-light">Admin Pannel</h2>
                    <form asp-area="" asp-controller="Home" asp-action="DeletePage" asp-route-id="@Model.ArticleId">
                        <input type="hidden" asp-for="ArticleId" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="UpdateArticle" asp-route-id="@Model.ArticleId"  class="btn btn-info">Edit</a>
                    </form>
                </div>
            </div>
        </footer>
    }

</body>

<script>
    var contentString = document.getElementById('rawContent').innerHTML;
    var contentJSON = JSON.parse(contentString);
    document.getElementById('contentContainer').innerHTML = quillGetHTML(contentJSON);

    function quillGetHTML(inputDelta) {
        var tempCont = document.createElement("div");
        (new Quill(tempCont)).setContents(inputDelta);
        return tempCont.getElementsByClassName("ql-editor")[0].innerHTML;
    }
</script>