@model ITtrainees.MVC.Models.Home.ArticleUploadViewModel
@{
    ViewData["Title"] = "ArticleUpload";
}

<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/quill.snow.css" rel="stylesheet">
<script src="~/js/quill.js"></script>
<script src="~/js/quill.min.js"></script>


<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<h1 class="text-light text-center">Create a new article!</h1>
<h3 class="text-light text-center">Fill in the details below and upload your article</h3>
<body>




    <div class="container text-light pt-3" style="border-top:solid; border-color:#ffe000;">
        <div class="column center-page">

            <form class="mt-3" style="width:100%;" asp-controller="Home" asp-action="Upload" onsubmit="setContent()" enctype="multipart/form-data">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Title" class="control-label font-weight-bold"><h4>Title</h4></label>
                    <textarea rows="2" asp-for="Title" class="form-control"></textarea>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Author" class="control-label font-weight-bold"><h4>Author</h4></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Summary" class="control-label font-weight-bold"><h4>Short description</h4></label>
                    <textarea rows="3" asp-for="Summary" class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                
                <div>
                @for (int i = 0; i < Model.Tags.Count; i++)
                {
                    <input type="checkbox" asp-for="@Model.Tags[i].IsSelected" />
                    <label asp-for="@Model.Tags[i].IsSelected">@Model.Tags[i].TagName</label>
                    <input type="hidden" asp-for="@Model.Tags[i].TagId" />
                    <input type="hidden" asp-for="@Model.Tags[i].TagName" />
                    <br />
                }
                    </div>


                <h4 class=" mt-3">Header Image: </h4>
                <div>@Html.TextBoxFor(m => m.HeaderImage, null, new { @type = "file", @class = "input-file" })</div>

                <h4 class=" mt-3">Article Content: </h4>
                <p>Use the editor below to format your article.</p>
                <div>
                    <div style="min-width:500px; min-height:500px;" id="editor"></div>
                    @Html.TextBoxFor(m => m.Content, new { style = "display: none;", id = "content", value = "" })
                </div>

                <div class="mt-3" style="border-top:solid; border-color:#ffe000;">
                    <h2 class="text-light text-center mt-2">Add questions about your article</h2>
                    <h4 class="text-light text-center">Other users can answer these and earn RockStars!</h4>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Questions[0].QuestionText" class="control-label font-weight-bold">Question 1</label>
                    <input asp-for="Questions[0].QuestionText" class="form-control" />
                    <span asp-validation-for="Questions[0].QuestionText" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger "></div>
                        <label asp-for="Questions[0].Answer1" class="control-label font-weight-bold">Option 1</label>
                        <input asp-for="Questions[0].Answer1" class="form-control" />
                        <span asp-validation-for="Questions[0].Answer1" class="text-danger"></span>
                    </div>
                    <div class="form-group m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Questions[0].Answer2" class="control-label font-weight-bold">Option 2</label>
                        <input asp-for="Questions[0].Answer2" class="form-control" />
                        <span asp-validation-for="Questions[0].Answer2" class="text-danger"></span>
                    </div>
                </div>
                <p class="font-weight-bold">Select correct answer: </p>
                <tr>
                    <td>@Html.RadioButton("CorrectAnswer1", "Answer1")</td>
                    <td>Option 1 </td>
                </tr>
                <tr>
                    <td>@Html.RadioButton("CorrectAnswer1", "Answer2")</td>
                    <td>Option 2 </td>

                </tr>
                <br />
                <br />
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Questions[1].QuestionText" class="control-label font-weight-bold">Question 2</label>
                    <input asp-for="Questions[1].QuestionText" class="form-control" />
                    <span asp-validation-for="Questions[1].QuestionText" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Questions[1].Answer1" class="control-label font-weight-bold">Option 1</label>
                        <input asp-for="Questions[1].Answer1" class="form-control" />
                        <span asp-validation-for="Questions[1].Answer1" class="text-danger"></span>
                    </div>
                    <div class="form-group m-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label asp-for="Questions[1].Answer2" class="control-label font-weight-bold">Option 2</label>
                        <input asp-for="Questions[1].Answer2" class="form-control" />
                        <span asp-validation-for="Questions[1].Answer2" class="text-danger"></span>
                    </div>
                </div>
                <p class="font-weight-bold">Select correct answer: </p>
                <tr>
                    <td>@Html.RadioButton("correctAnswer2", "Answer1")</td>
                    <td>Option 1 </td>
                </tr>
                <tr>
                    <td>@Html.RadioButton("correctAnswer2", "Answer2")</td>
                    <td>Option 2 </td>
                </tr>
                <div class="form-group mt-3 mb-4">
                    <input type="submit" value="Upload" class="btn btn-primary yellow_bg text-dark" /> |
                    <a asp-action="Index">Back to Home</a>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    var toolbarOptions = [
        [{ 'header': 2 }],               // custom button values
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['code-block'],

        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent

        ['link', 'image', 'video'],          // add's image support
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];
    var options = {
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Write your content here...',
        theme: 'snow'
    };
    var quill = new Quill('#editor', options);

    function setContent() {
        var delta = quill.getContents();
        var content = document.getElementById("content");
        content.value = JSON.stringify(delta);
    }
</script>