@model ITtrainees.Models.Article
@{
    ViewData["Title"] = "ArticleUpload";
}

<script src="~/js/quill.js"></script>
<script src="~/js/quill.min.js"></script>

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
    <div class="container">
        <div class="text-light">
            <img class=" card-img-top card-image" src="data:image/png;base64, @Model.HeaderImage" alt="placeholder" , style="max-height:400px;">

            <h1 class="card-title">@Model.Title</h1>
            <p class="card-author">Author: @Model.Author</p>
        </div>
    </div>

    <div class="text-light container mt-5">
        <div class="row ml-0">
            <p class="card-author " id="contentContainer">De inhoud van het artikel kan niet geladen worden</p>
            <p class="" hidden id="rawContent">@Model.Content</p>
        </div>
    </div>
    <div class="border" style="width:250px;">
        <div class="m-2 text-light">
            <h2 class="text-light">Admin Controll</h2>
            <form asp-area="" asp-controller="Home" asp-action="DeletePage" asp-route-id="@Model.ArticleId">
                <input type="hidden" asp-for="ArticleId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="UpdateArticle" asp-route-id="@Model.ArticleId">Edit</a>
            </form>
        </div>
    </div>



</body>

<script>
    var contentString = document.getElementById('rawContent').innerHTML;
    var contentJSON = JSON.parse(contentString);
    document.getElementById('contentContainer').innerHTML = quillGetHTML(contentJSON);

    function quillGetHTML(inputDelta) {
        var tempCont = document.createElement("div");
        (new Quill(tempCont)).setContents(inputDelta);
        return tempCont.getElementsByClassName("ql-editor")[0].innerHTML;
    }
</script>