@model ITtrainees.MVC.Models.Home.ArticleUploadViewModel
@{
    ViewData["Title"] = "ArticleUpload";
}

<link rel="stylesheet" href="~/css/site.css" />
<link href="~/css/quill.snow.css" rel="stylesheet">
<script src="~/js/quill.js"></script>
<script src="~/js/quill.min.js"></script>


<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<body>
    <div class="container text-light pt-3 ml-3">
        <div class="column align-items-center">

            <form asp-controller="Home" asp-action="Upload" onsubmit="setContent()" enctype="multipart/form-data">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="HeaderImage" class="control-label"></label>
                    <input asp-for="HeaderImage" class="" type="file" />
                    <span asp-validation-for="HeaderImage" class="text-danger"></span>
                </div>
                <div class="form-group" hidden>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" readonly="readonly" value="@User.Identity.Name"/>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Summary" class="control-label"></label>
                    <input asp-for="Summary" class="form-control" />
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>

                @for (int i = 0; i < Model.Tags.Count; i++)
                {
                    <input type="checkbox" asp-for="@Model.Tags[i].IsSelected" />
                    <label asp-for="@Model.Tags[i].IsSelected">@Model.Tags[i].TagName</label>
                    <input type="hidden" asp-for="@Model.Tags[i].TagId" />
                    <input type="hidden" asp-for="@Model.Tags[i].TagName" />
                    <br />
                }

                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">Content: </div>
                <div id="editor">
                </div>

                <div class="form-group" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" id="content" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Upload" class="btn btn-primary yellow_bg text-dark" />
                </div>


            </form>


        </div>
    </div>
</body>

<script>
    var toolbarOptions = [
        [{ 'header': 2 }],               // custom button values
        ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
        ['code-block'],

        [{ 'list': 'ordered' }, { 'list': 'bullet' }],
        [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
        [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent

        ['link', 'image', 'video'],          // add's image support
        [{ 'align': [] }],

        ['clean']                                         // remove formatting button
    ];
    var options = {
        modules: {
            toolbar: toolbarOptions
        },
        placeholder: 'Write your content here...',
        theme: 'snow'
    };
    var quill = new Quill('#editor', options);

    function setContent() {
        var delta = quill.getContents();
        var content = document.getElementById("content");
        content.value = JSON.stringify(delta);
    }
</script>