@model ITtrainees.Models.Article

@{
    ViewData["Title"] = "DeletePage";
}


<h3 class="text-light">Are you sure you want to delete this article?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row text-light">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags.Select(tag => tag.TagName).ToList())
        </dd>    
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>*@
    </dl>
    
    <form asp-controller="Home" asp-action="ArticleDelete">
        <input type="hidden" asp-for="ArticleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ArticleView" asp-route-id="@Model.ArticleId">Back to Article</a>
    </form>
</div>
