@model ITtrainees.MVC.Models.Home.QuestionsUpdateModel
@using ITtrainees.MVC.APITools
@{

}
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>

    <h1 class="text-light text-center mb-3">Edit the questions here</h1>
    <div class="container text-light pt-3" style="border-top:solid; border-color:#ffe000;">

        <div class="column align-items-center center-page mt-1">

            <form style="width:100%;" asp-controller="Home" asp-action="UpdateQuestion">
                <div class="form-group" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="QuestionId1" class="control-label"></label>
                    <input asp-for="QuestionId1" class="form-control" />
                    <span asp-validation-for="QuestionId1" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="QuestionId2" class="control-label"></label>
                    <input asp-for="QuestionId2" class="form-control" />
                    <span asp-validation-for="QuestionId2" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="ArticleId" class="control-label"></label>
                    <input asp-for="ArticleId" class="form-control" />
                    <span asp-validation-for="ArticleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="QuestionText1" class="control-label">Question 1:</label>
                    <input asp-for="QuestionText1" class="form-control" />
                    <span asp-validation-for="QuestionText1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="q1Answer1" class="control-label">Answer 1:</label>
                    <input asp-for="q1Answer1" class="form-control" />
                    <span asp-validation-for="q1Answer1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="q1Answer2" class="control-label">Answer 2:</label>
                    <input asp-for="q1Answer2" class="form-control" />
                    <span asp-validation-for="q1Answer2" class="text-danger"></span>
                </div>

                <div>
                    <p class="font-weight-bold">Select correct answer: </p>
                    <tr>
                        <td>@Html.RadioButton("q1CorrectAnswer", "Answer1")</td>
                        <td>Option 1 </td>
                    </tr>
                    <tr>
                        <td>@Html.RadioButton("q1CorrectAnswer", "Answer2")</td>
                        <td>Option 2 </td>
                    </tr>
                </div>

                <div class="form-group mt-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="QuestionText2" class="control-label">Question 2:</label>
                    <input asp-for="QuestionText2" class="form-control" />
                    <span asp-validation-for="QuestionText2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="q2Answer1" class="control-label">Answer 1:</label>
                    <input asp-for="q2Answer1" class="form-control" />
                    <span asp-validation-for="q2Answer1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="q2Answer2" class="control-label">Answer 2:</label>
                    <input asp-for="q2Answer2" class="form-control" />
                    <span asp-validation-for="q2Answer2" class="text-danger"></span>
                </div>
                <div>
                    <p class="font-weight-bold">Select correct answer: </p>
                    <tr>
                        <td>@Html.RadioButton("q2CorrectAnswer", "Answer1")</td>
                        <td>Option 1 </td>
                    </tr>
                    <tr>
                        <td>@Html.RadioButton("q2CorrectAnswer", "Answer2")</td>
                        <td>Option 2 </td>
                    </tr>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Update" class="btn btn-primary yellow_bg text-dark" /> |
                    <a asp-action="UpdateArticle" asp-route-id="@Model.ArticleId">Back to Edit Page</a>
                </div>

            </form>
        </div>
    </div>
</body>